.card {
  background-color: #e3ecc2;
  border-radius: 15px;
  width: 284px;
  height: 240px;
}
.card__imgContainer {
  display: flex;
  justify-content: center;
}
.card__img {
  width: 100px;
  height: 100px;
}
.card__digit {
  font-family: Arial;
  font-weight: 700;
  font-size: 43px;
  color: #214707;
  position: relative;
  left: 10px;
}
.card__text {
  color: #214707;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
